:root {
    /* Screen resolutions */
    --max-width: 1280px;
    --mobile-width: 730px;

    /* Global margins and paddings */
    --global-padding: 20px;

    /* Border */
    --global-border-radius: 4px;

    /* Header sizes */
    --header-title-size: 1.3rem;
    --header-menu-link-size: 1rem;

    /* Input sizes */
    --input-label-size: 1rem;
    --input-error-size: 0.9rem;

    /* Pagination sizes */
    --pagination-item-link-first-border-top-left-radius: var(--global-border-radius);
    --pagination-item-link-first-border-bottom-left-radius: var(--global-border-radius);
    --pagination-item-link-last-border-bottom-right-radius: var(--global-border-radius);
    --pagination-item-link-last-border-bottom-right-radius: var(--global-border-radius);
    --pagination-count-font-size: 0.9rem;

    /* Home sizes */
    --home-call-to-action-title-size: 2.5rem;
    --home-call-to-action-subtitle-size: 1.3rem;
    --home-call-to-action-button-size: 1.2rem;
    --home-how-it-works-title-size: 1.3rem;
    --home-how-it-works-card-topic-size: 1rem;
    --home-how-it-works-card-description-size: 1rem;

    /* Jobs sizes */
    --jobs-jobs-container-title-size: 1.2rem;
    --jobs-jobs-container-subtitle-size: 1rem;
    --jobs-jobs-container-description-size: 1rem;

    /* Footer sizes */
    --footer-text-size: 1rem;

    /* Alert */
    --alert-text-size: 1rem;
}
