.alert {
    padding: 10px;
    font-size: var(--alert-text-size);
    text-align: center;
    border-radius: var(--global-border-radius);
}

.alert.error {
    background-color: var(--alert-error-background-color);
    color: var(--alert-error-color);
}

.alert.success {
    background-color: var(--alert-success-background-color);
    color: var(--alert-success-color);
}
