.jobs {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 30px;
}

.jobs > .filters > .title {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.jobs > .filters .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.jobs > .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.jobs > .content .link {
  text-decoration: none;
  color: var(--color-black);
}

.jobs > .content .title {
  font-weight: 700;
  font-size: 1.5rem;
}

.jobs > .content .subtitle {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0;
}

@media (max-width: 730px) {
  .jobs {
    grid-template-columns: 1fr;
  }
}
