.wrapper {
  display: flex;
  justify-content: center;
  padding-left: var(--global-padding);
  padding-right: var(--global-padding);
}

.wrapper > .container {
  max-width: var(--max-width);
  width: 100%;
}
