.fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.fieldset .label {
    font-size: var(--input-label-size);
    font-weight: 600;
    margin-bottom: 5px;
}

.fieldset .input {
    border: none;
    border: 1px solid var(--input-border-color);
    border-radius: var(--global-border-radius);
    min-height: 40px;
    padding: 4px;
}
