.header {
  padding-top: 52px;
  padding-bottom: 52px;
  margin-bottom: 52px;
}

.header .content {
  display: flex;
  justify-content: space-between;
}

.header .menu-list {
  padding-left: 0;
  display: flex;
  gap: 12px;
}

.header .menu-item {
  list-style: none;
}

.header .link {
  text-decoration: none;
  color: var(--color-header-menu-links);
  font-size: 1.25rem;
}

@media (max-width: 730px) {
  .header .content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
